
body{
    margin:0px;
}
.container{
 width: 100%;
  height: 100%;
  

}

/*HEADER*/
header{
    width: 100%;
    height: 12%;
    background: #2a3e4f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    
    
}

.float-left{
    float:left;
    margin:3%;
    font-weight: bold;
    padding-left: 110px;
    font-size: 20px;
    
    
}

.float-rigth-contact,
.float-rigth-about,
.float-rigth-portfolio{
   
    float: right;
    padding-top: 32px;
    padding-right: -10px;
    font-size: 12px;
    font-weight: bold;
   margin:5px;
    
    
   
}

.float-rigth-contact{
    margin-right: 15%;
}
/* SECTION ONE*/

.section-one{
    
    width:100%;
    height: 100%;
    background: #00bc9d;
}
.div-section-one{
    
    
    width:80%;
    height: 100%;
    padding-top: 16%;
   text-align: center;
   padding-left: 10%;
   padding-bottom: 6%;
   margin:0px;
}

.div-section-one>img{
    padding-bottom: 15px;
}



.start-bootstrap-head{
    
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: bold ;
    font-size: 50px;
    margin: 0 auto;
    width:70%;
}




.words-under-star{
 
  font-family: 'Lato', sans-serif;
  color: white;
  width: 70%;
  padding: 0px;
  display: inline-block;
  font-size: 19px;
  font-weight: lighter;
  
}

/*SECTION TOW*/
.div-section-tow{
    font-family:  'Montserrat', sans-serif;
    
    text-align: center;
    padding-bottom: 30px;
}

.div-section-tow>h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
}

.star-icon-tow{
    
     width:15%;
     margin: 0 auto;
     padding-bottom: 15px;
}

.div-section-tow>img{
    padding:10px;
}
  

/*section three*/
.div-section-three{
    font-family:  'Montserrat', sans-serif;
    
    text-align: center;
    background: #00bc9d;
    color: white;
    padding-bottom: 100px;

}
.div-section-three>h1{
    padding-top: 70px;
    font-size: 30px;
}

.div-section-three>p{
    font-family:'Lato', sans-serif;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    padding: 20px;
    line-height: 23px;
    padding-bottom: 40px;
}
     
.div-section-three > .second-paragraph{
    
    margin-top:0px;
    padding-top: 0px;
    height: 120px;
    display: inline-block;
   
}

.button-download{
    display: block;
    font-family: 'Lato', sans-serif;
    border: solid white 2px;
    border-radius: 5%;
    width: 170px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    
}


/*SECTION FOUR*/


.section-four{

    width:100%;
    height: 600px;

}
.div-section-four{
    
    display: inline-block;
    height: 400px;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 400px;
     
}
.div-section-four>h1{
   font-family:  'Montserrat', sans-serif;
   font-weight:bold 800;
   font-size: 30px;
   text-align: center;

}

.star-icon-four{
   
    width: 30%;
   margin:auto;
}


input[type=text]{
    border:none;
    font-size: 15px;
    

}

form >hr{

     width: 500px;
     margin: 0 auto;
    
}

form{
    line-height: 50px;
}

form #message{
    padding-bottom: 70px;
    width: 100%;

}

.submit{
    background: #00bc9d;
    color: white;
    width:50px;
    height: 30px;;
}


footer{


    background: #2a3e4f;
    color: white;
    font-family:  'Montserrat', sans-serif;
    height: 300px;
   
}

.div-section-five{
    text-align: center;
    width: 90%;
    height: 90%;
    padding-right: 40px;
}

.location,
.around,
.about{
   display: inline-block;
   margin: 50px;
   text-align: center;
 

}
.location{
    position: relative;
    padding-left: 170px;
    margin-top:20px;
    padding-bottom: 13px;
    bottom: 110px;

}
   
.about{
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    bottom:95px;

}

.around>p{
    
    padding-top: 75px;
    font-size: 12px;
    
    

}
.around>i{

    border:white 1px solid; 
    border-radius: 50%;
    padding: 10px;
    
}

.location>p{

    font-size: 12px;
}

.about>p{
    font-size: 12px;
}




hr.star-light:after {
    color:white;
    background-color: #18bc9c;
    border-color: white;
    z-index: -1;
     
    
}
hr.star-light:after, hr.star-primary:after {
    font-family: 'FontAwesome';
    font-size: 2em;
    top: -.5em;
    display: inline-block;
    padding: 10px 20px;
    content: '\f005';
    z-index: 0;
}
hr.star-light, hr.star-primary {
    max-width: 250px;
    margin: 50px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px;
   
}