
body{
    margin:0px;
}
.container{
 width: 100%;
  height: 100%;
  

}

/*HEADER*/
header{
    width: 100%;
    height: 104px;
    background: #2a3e4f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    
    
}

.float-left{
    float:left;
    margin:3%;
    font-weight: bold;
    padding-left: 40px;
    font-size: 32px;
    
    
}

.float-rigth-contact,
.float-rigth-about,
.float-rigth-portfolio{
   
    float: right;
    padding-top: 28px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    margin:18px;
    
    
   
}

.float-rigth-contact{
    margin-right: 100px;
}
/* SECTION ONE*/

.section-one{
    
    width:100%;
    height: 100%;
    background: #00bc9d;
}
.div-section-one{
    
    
    width:80%;
    height: 100%;
    padding-top: 16%;
   text-align: center;
   padding-left: 10%;
   padding-bottom: 6%;
   margin:0px;
}

.div-section-one>img{
    padding-bottom: 15px;
    height: 257px;
}



.start-bootstrap-head{
    
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder ;
    font-size: 76px;
    margin: 0 auto;
    width:100%;
}




.words-under-star{
 
  font-family: 'Lato', sans-serif;
  color: white;
  width: 70%;
  padding: 0px;
  display: inline-block;
  font-size: 28px;
  font-weight: lighter;
  
}

/*SECTION TOW*/
.div-section-tow{
    font-family:  'Montserrat', sans-serif;
    
    text-align: center;
    padding-bottom: 30px;
}

.div-section-tow>h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold 800;
    font-size: 48px;
    padding-top: 40px;
    color: #2a3e4f;
}

.star-icon-tow{
    
     width:15%;
     margin: 0 auto;
     padding-bottom: 15px;
}

.div-section-tow>img{
    padding:10px;
}
  

/*section three*/
.div-section-three{
    font-family:  'Montserrat', sans-serif;
    
    text-align: center;
    background: #00bc9d;
    color: white;
    padding-bottom: 100px;

}
.div-section-three>h1{
    padding-top: 70px;
    font-size: 48px;
}

.div-section-three>p{
    font-family:'Lato', sans-serif;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    padding: 20px;
    line-height: 23px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
}
     
.div-section-three > .second-paragraph{
    
   
    height: 120px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    
   
}

.button-download{
    display: block;
    font-family: 'Lato', sans-serif;
    border: solid white 2px;
    border-radius: 5%;
    width: 190px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    
}


/*SECTION FOUR*/


.section-four{

    width:100%;
    height: 963px;

}
.div-section-four{
    
    display: inline-block;
    height: 800px;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 110px;
     
}
.div-section-four>h1{
   font-family:  'Montserrat', sans-serif;
   font-weight:bold 800;
   font-size: 48px;
   text-align: center;
   color: #2a3e4f;
   padding-left: 10px;

}

.star-primary-contact{
   
  
   padding-left: 300px;
}


input[type=text]{
    border:none;
    font-size: 24px;
    font-family:  'Lato', sans-serif;
    line-height: 24px;
    
}

form >hr{

     width: 700px;
     margin: 0 auto;
     padding-left: -10px;
     display: inline-block;
     
}

form{
    line-height: 50px;
    padding-left:190px;
    color: #858e95;
}

form #message{
    padding-bottom: 90px;
    width: 100%;

}

.submit{
    background: #00bc9d;
    color: white;
    width:101px;
    height: 65px;
    font-size: 20px;
    display: block;
    
    
}


footer{


    background: #2a3e4f;
    color: white;
    font-family:  'Montserrat', sans-serif;
    height: 300px;
   
}

.div-section-five{
    text-align: center;
    width: 90%;
    height: 90%;
    margin-left:75px;
}

.location,
.around,
.about{
   display: inline-block;
   
   text-align: center;
 

}
.location{
    position: relative;
    padding-left: 0px;
    top:30px;
    padding-bottom: 13px;
    bottom: 110px;
    margin-right: 100px;

}

.around{
    position: relative;
    padding-left: 0px;
    top:11px; 
    margin-right: 80px;
}
   
.about{
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    bottom:-53px;

}

.around>p{
    
    padding-top: 75px;
    font-size: 20px;
    
    

}
.around>i{

    border:white 3px solid; 
    border-radius: 50%;
    padding: 10px;
    
}

.location>p{

    font-size: 20px;
}

.about>p{
    font-size: 20px;
}




hr.star-light:after {
    color:white;
    background-color: #18bc9c;
    border-color: white;
    z-index: -1;
     
    
}
hr.star-light:after, hr.star-primary:after {
    font-family: 'FontAwesome';
    font-size: 2em;
    top: -.5em;
    display: inline-block;
    padding: 10px 20px;
    content: '\f005';
    z-index: -1;
}
hr.star-light, hr.star-primary {
    max-width: 250px;
    margin: 50px auto 30px;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 5px;
    z-index: -1;
   
}

.copy{
 background: #19252f;
 width: 100%;

}